version: "3.8"

services:
  gateway:
    image: nginx:alpine
    container_name: gateway
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./gateway/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./gateway/certs:/etc/nginx/certs:ro
    depends_on:
      - api

  api:
    image: nginx:alpine
    container_name: api
    expose:
      - "80"
